li {
    text-decoration-style: none;
    background-color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 5px;
}
li:hover {
    background-color: palevioletred;
}
a {
    color: blue;
    
}
body {
    background-color: pink;
}