body {
    animation: myanimation 10s infinite;
  }
  
  @keyframes myanimation {
    0% {background-color: yellowgreen;}
    25%{background-color:rgb(255, 255, 137);}
    50%{background-color:lightgreen;}
    75%{background-color:lightgoldenrodyellow;}
    100% {background-color: yellowgreen;}
  }